Geef {{email}} een score


<div class="intro">
	<h1>intro</h1>
	<input type="radio" name="intro" value="1">
	<input type="radio" name="intro" value="2">
	<input type="radio" name="intro" value="3"> 
	<input type="radio" name="intro" value="4"> 
	<input type="radio" name="intro" value="5"> 
	<input type="radio" name="intro" value="6"> 
	<input type="radio" name="intro" value="7"> 
	<input type="radio" name="intro" value="8"> 
	<input type="radio" name="intro" value="9"> 
	<input type="radio" name="intro" value="10"> </br>

	<textarea name="feedback1" class="feedbackintro" rows="10" cols="50">feedback</textarea></br>
	<input type="submit" value="verder" class="verder"/>
</div>

<div class="main hidden">
	<h1>main</h1>
	<input type="radio" name="main" value="1">
	<input type="radio" name="main" value="2">
	<input type="radio" name="main" value="3"> 
	<input type="radio" name="main" value="4"> 
	<input type="radio" name="main" value="5"> 
	<input type="radio" name="main" value="6"> 
	<input type="radio" name="main" value="7"> 
	<input type="radio" name="main" value="8"> 
	<input type="radio" name="main" value="9"> 
	<input type="radio" name="main" value="10"> </br>

	<textarea name="feedback2" rows="10" class="feedbackmain" cols="50">feedback</textarea></br>
	<input type="submit" value="verder" class="verder1"/>
</div>

<div class="finale hidden">
	<h1>finale</h1>
	<input type="radio" name="finale" value="1">
	<input type="radio" name="finale" value="2">
	<input type="radio" name="finale" value="3"> 
	<input type="radio" name="finale" value="4"> 
	<input type="radio" name="finale" value="5"> 
	<input type="radio" name="finale" value="6"> 
	<input type="radio" name="finale" value="7"> 
	<input type="radio" name="finale" value="8"> 
	<input type="radio" name="finale" value="9"> 
	<input type="radio" name="finale" value="10"> </br>

	<textarea name="feedback3" rows="10" class="feedbackfinale" cols="50">feedback</textarea></br>
	<input type="submit" value="klaar" class="klaar"/>
</div>





