<div class="menubtn"></div>

<div class="title">
		<header>
			<h1>{{email}}</h1>
		</header>
	</div>


<div class="intro">
	<div class="centerh2">
	<h2>Score voor kostuum</h2>
	</div>
</div>

<div class="main hidden">
	<div class="centerh2">
	<h2>Score voor show</h2>
	</div>
</div>

<div class="finale hidden">
	<div class="centerh2">
	<h2>Score voor trucs</h2>
	</div>
</div>


	
	<div class="scorekaart">
		<p>0</p>
		<span class="top">0</span>
		<span class="bottom">0</span>
	</div>

	<div class="scoredown" style='display:none'></div>
	<div class="scoreup"></div>



<div class="introb">
	<div class="centerverder">
		<a href="#" class="verder">verder</a>
	</div>
</div>

<div class="mainb hidden">
	<div class="centerverder">
		<a href="#" class="verder1">verder</a>
	</div>
</div>

<div class="finaleb hidden">
	<div class="centerverder">
		<a href="#" class="klaar">klaar</a>
	</div>
</div>







