<div class="menubtn"></div>

<form action="" method="post" enctype="multipart/form-data" name="fileinfo" id="imageupload" class="hideform">
	<fieldset>

		<input type="file" name="image" class="imgupload" value="" required class="addvideo">
		<input type="submit" name="action" class="imgbtn" id="btnsubmit" value="plaats img"/>

	</fieldset>
</form>