<div class="menubtn"></div>

<div class="backgalerij">

	<div class="title">
		<header>
			<h1>Galerij</h1>
		</header>
	</div>

	<form action="" method="post" enctype="multipart/form-data" name="fileinfo" id="imageupload" class="hideform">
		<fieldset>
			<input type="file" name="image" class="imgupload" value="" required>
			<input type="submit" name="action" class="imgbtn" id="btnsubmit" value="plaats img"/>
		</fieldset>
	</form>

	<div class="fotos">
		
	</div>

</div>
