

<div class="menubtn"></div>

<div class="goochelaarsback">

	<div class="title">
		<header>
			<h1>Weekoverzicht</h1>
		</header>
	</div>

	{{dag}}

	<div class="goochelaars">
		
	</div>

		<a href="#winnaar" class="winnaarbtn">Maak winnaar bekend</a>

</div>