@import 'base';


html {
	font-size: 62.5%;
}

body{

	color: #000000;
	background-color: #e3e3e3;
	font-family: helvetica Neue, arial, sans-serif;
	font-size:2.2em;
	line-height:1.9em;
}

.logout{
	color:white;
}

.centerlogout{
	margin-top:450px;
}

.infowelkom{

	font-family: droid italic;
	font-weight: 200;
	color:white;
	text-align:center;
	width:500px;
	margin: 0 auto;
	padding-top:680px;
	font-size:1.6em;
	-webkit-font-smoothing: antialiased;
}

.knop_login{

	width: 360px;
	margin: auto;

	margin-top: 100px;
	margin-bottom: 60px;

	.login{

		font-family: open sans;
		border: 3px solid #e0ab5b;
		color: #e0ab5b;
		text-decoration: none;
		font-size: 1.6em;
		
		padding-left: 121px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 121px;

		

	}
}

.knop_register{

	width: 360px;
	margin: auto;

	.inschrijven{

		font-family: open sans;
		border: 3px solid #e0ab5b;
		color: #e0ab5b;
		text-decoration: none;
		font-size: 1.6em;
		
		padding-left: 70px;
		padding-right: 69px;

		padding-top: 8px;
		padding-bottom: 8px;
		

	}
}


.loginscreen{

	background: url('../../img/loginscreen.jpg');
	background-position: fixed;
	width:640px;
	height:1136px;

	legend{

		font-family: lobster;
		font-size: 5em;
		color:white;
		text-align: center;
		padding-top: 250px;
		margin-bottom: 100px;


	}
	input[type = text],[type = password]{

		
		width: 450px;
		height: 80px;
		border: none;
		background-color: #6984af;
		opacity: 0.3;
		margin-left: 50px;
		margin-bottom: 40px;

		padding-left: 90px;
		color:white;

		font-family: helvetica Neue;
		text-decoration: none;
		font-size: 1.8em;



	}
	
	.submit{

		font-family: open sans;
		border: 3px solid #e0ab5b;
		color: #e0ab5b;
		text-decoration: none;
		font-size: 1.6em;
		background-color: transparent;
		
		padding-left: 121px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 121px;

		margin-left: 141px;
		margin-top: 40px;
	}

	h2{

		color: white;
		text-align: center;
		font-family: droid italic;
		margin-top: 50px;
		margin-bottom: 40px;
		font-size: 1.5em;
		-webkit-font-smoothing: antialiased;


	}

}
.registercontent{

	form{

		background-image: url('../../img/registerscreen.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-color: #2E3B4D;

	}

	legend{

		font-family: lobster;
		font-size: 5em;
		color:white;
		text-align: center;
		padding-top: 250px;
		margin-bottom: 100px;


	}
	input[type = text],[type = password]{

		
		width: 450px;
		height: 80px;
		border: none;
		background-color: #6984af;
		opacity: 0.3;
		margin-left: 50px;
		margin-bottom: 40px;

		padding-left: 90px;
		color:white;

		font-family: helvetica Neue;
		text-decoration: none;
		font-size: 1.8em;



	}
	
	.submit{

		font-family: open sans;
		border: 3px solid #e0ab5b;
		color: #e0ab5b;
		text-decoration: none;
		font-size: 1.6em;
		background-color: transparent;
		
		padding-left: 121px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 121px;

		margin-left: 141px;
		margin-top: 40px;
		margin-bottom: 50px;
	}

	h2{

		color: white;
		text-align: center;
		font-family: droid italic;
		margin-top: 50px;
		margin-bottom: 40px;
		font-size: 1.5em;
		-webkit-font-smoothing: antialiased;



	}


}

.artistenaam{

		background: url('../../img/icon-persoon.png') no-repeat left center;

}

.wachtwoord{

		background: url('../../img/icon-password.png') no-repeat left center;

}

.fotoupload{

		text-align: center;

		#foto-icon{

			width: 99px;
			height: 77px;
			margin-left: 270px;
			margin-bottom: 20px;
			margin-top: 20px;
			background: url('../../img/icon-foto.png');


		}
		input{

			color: white;
			font-family: helvetica Neue; 

		}

}

.gemeente{

		background: url('../../img/icon-gemeente.png') no-repeat left center;

}

.straat{

		background: url('../../img/icon-straat.png') no-repeat left center;

}

.nummer{

		background: url('../../img/icon-nummer.png') no-repeat left center;

}

.postcode{

		background: url('../../img/icon-postcode.png') no-repeat left center;

}

.programma{

	width: 540px;
	margin-left: 51px;

	label{

		color: white;
		text-align: center;
		font-family: droid italic;
		margin-top: 50px;
		margin-bottom: 40px;
		font-size: 1.5em;
		-webkit-font-smoothing: antialiased;

	}

	textarea{
		
		width: 540px;
		height: 125px;
		border: none;
		background-color: #6984af;
		opacity: 0.3;

		font-size: 1.8em;
		margin-bottom: 20px;

	}

	.intro{

		background: url('../../img/style-intro.png') no-repeat center;
		
		padding-left: 100px;
		padding-right: 100px;
		margin-left: 50px;

	}

	.main{

		background: url('../../img/style-main.png') no-repeat center;
		
		padding-left: 100px;
		padding-right: 100px;
		margin-left: 50px;

	}

	.finale{

		background: url('../../img/style-finale.png') no-repeat center;
		
		padding-left: 100px;
		padding-right: 100px;
		margin-left: 50px;

	}



}
.sub-programma{

	background: url('../../img/subprogramma.png') no-repeat center;

}
.sub-gegevens{

	background: url('../../img/subgegevens.png') no-repeat center;

}

.profiel{

	background: url('../../img/loginscreen.jpg');
	background-position: fixed;
	width:640px;
	height:1136px;



	h1{

		font-family:lobster;
		color:white;
		padding-top:50px;
		font-size:2em;
		

	}

	

}
.profielcont{

	width:200px;
	margin:0 auto;
	margin-top:30px;

	.fotomask_profiel{

		width:150px;
		height:150px;
		@include border-radius(150px, 150px);
		overflow:auto;
		border: 3px solid #d4a857;
		

		.img{
			
			width:150px;
			height:150px;
			overflow:hidden;
		}		

	}

}
.adrescont{

	width: 530px;
	margin: 0 auto;


	.naamicon{
		background: url('../../img/naamicon.png') center;
		background-position: 100px;
		background-repeat: no-repeat;

		text-align: center;
		margin-bottom: 20px;
		
		margin-top: 20px;

	
		font-family: droid serif;
		font-size: 1.3em;
		color: white;
	
	}

	.plaatsicon{
		background: url('../../img/plaatsicon.png') center left;
		background-repeat: no-repeat;
		padding-left: 55px;

		width: 270px;

		float: left;


		font-family: droid serif;
		font-size: 1.3em;
		color: white;
	}

	.postcodeicon{
		background: url('../../img/iconpostcode.png') center ;
		background-position: 0px;
		background-repeat: no-repeat;
		padding-left: 50px;

		width: 150px;

		float: left;

		font-family: droid serif;
		font-size: 1.3em;
		color: white;
	}

	.floatnon{

		clear: both;
		float: none;

	}

	.straaticon{
		background: url('../../img/iconstraat.png') center ;
		background-position: -5px;
		background-repeat: no-repeat;
		padding-left: 50px;

		float: left;
		width: 280px;

		font-family: droid serif;
		font-size: 1.3em;
		color: white;
	}

	.nummericon{
		background: url('../../img/iconnummer.png') center ;
		background-position: -5px;
		background-repeat: no-repeat;
		padding-left: 50px;

		float: left;
		width: 150px;

		font-family: droid serif;
		font-size: 1.3em;
		color: white;
	}


}

.profiel-programma{




		color: white;
		text-align: center;
		font-family: droid italic;
		margin-top: 20px;
		margin-bottom: 40px;
		font-size: 1.5em;
		-webkit-font-smoothing: antialiased;

	
	.sub-programma{

		background: url('../../img/subprogramma.png') no-repeat center;
		margin-bottom: 20px;

	}


	.intro{

		background: url('../../img/style-intro.png') no-repeat center;
		margin-bottom: 10px;
		
		padding-left: 100px;
		padding-right: 100px;
		margin-left: 50px;

	}

	.main{

		background: url('../../img/style-main.png') no-repeat center;
		margin-bottom: 10px;
		
		padding-left: 100px;
		padding-right: 100px;
		margin-left: 50px;

	}

	.finale{

		background: url('../../img/style-finale.png') no-repeat center;
		margin-bottom: 10px;
		
		padding-left: 100px;
		padding-right: 100px;
		margin-left: 50px;

	}	

	p{

		width: 540px;
		height: 125px;
		margin: 0 auto;
		background:rgba(105,132,175,0.3);
		text-align: left;
		padding-left: 10px;



	}




}

.btn{
	padding-top:4px;
	padding-bottom:4px;
	padding-left:22px;
	padding-right:22px;
	border: 3px solid #DEAE67;
	color:#DEAE67;
	text-decoration:none;
}

.winnaarbtn{
	font-family: open sans;
	border: 3px solid #e0ab5b;
	color: #e0ab5b;
	text-decoration: none;
	font-size: 1.6em;
	padding-left: 70px;
	padding-right: 69px;
	padding-top: 20px;
	position: absolute;
	margin-left:-570px;
	margin-top:840px;
	padding-bottom:20px;

}


.container{
	margin-left:0;
	@include transition-property(margin-left);
	@include transition-duration(0.5s);
	@include transition-timing-function(ease);
}

.welcomescreen{
	background: url('../../img/welkom.jpg');
	width:640px;
	height:1136px;
}

.goochelaarsback{
	background: url('../../img/overviewback.jpg');
	width:640px;
	height:1136px;

	h1{
		font-family:lobster;
		color:white;
		padding-top:50px;
		font-size:2em;
	}
}

.verder{
	border: 3px solid #E1AD59;
	color:#E1AD59;
	font-size:2em;
	text-decoration:none;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:40px;
	padding-right:40px;
	margin-top:100px;
}

.verder1{
	border: 3px solid #E1AD59;
	color:#E1AD59;
	font-size:2em;
	text-decoration:none;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:40px;
	padding-right:40px;
	margin-top:100px;
}


.klaar{
	border: 3px solid #E1AD59;
	color:#E1AD59;
	font-size:2em;
	text-decoration:none;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:40px;
	padding-right:40px;
	margin-top:100px;
}

.backgalerij{
	background: url('../../img/backgalerij.jpg');
	width:640px;
	height:1136px;

	h1{
		font-family:lobster;
		color:white;
		padding-top:50px;
		font-size:2em;
	}
}

.scoreback{
	background: url('../../img/backscores.jpg');
	width:640px;
	height:1136px;

	h1{
		font-family:lobster;
		color:white;
		padding-top:50px;
		font-size:2em;
	}

	h2{
		font-family:Droid serif;
		font-style:italic;
		color:white;
		background:url('../../img/bullet.png') left,url('../../img/bullet1.png') right;
		background-repeat:no-repeat, no-repeat;
	}
}

.goochelaars{
	padding-top:20px;
	margin-left:15px;
}

.goochelaar{
	width:300px;
	height:414px;
	background: rgba(44,47,55,0.5);
	float:left;
	margin-right:10px;
}

.slidecont{
	position:absolute;
	margin-left:280px;
}

.menucont{
	margin-top:69px;
}

.menu{
	width:280px;
	height:1136px;
	background:#15232C;
	position:absolute;
	@include transition-property(margin-left);
	@include transition-duration(0.5s);
	@include transition-timing-function(ease);
}

.profielbtn{
	color:white;
	font-family: Droid Serif;
	text-decoration:none;
	font-style:italic;
}

.center{
	margin-top:10px;
	text-align:center;
	margin-bottom:20px;
}

.centerverder{
	margin-top:150px;
	text-align:center;
	margin-bottom:20px;
}

.centerh2{
	margin-top:40px;
	text-align:center;
	margin-bottom:20px;
	width:250px;
	margin:0 auto;
}


.centermenu{
	margin-top:10px;
	margin-bottom:20px;
	margin-left:50px;
}


.title{
	text-align:center;
	margin-bottom:40px;
}

.kalendericon{
	background: url('../../img/kalendericon.png') center left;
	background-repeat: no-repeat;
	padding-left: 35px;
	color: white;
}

.plaatsicon{
	background: url('../../img/plaatsicon.png') center left;
	background-repeat: no-repeat;
	padding-left: 35px;
	color: white;
	margin-bottom:20px;
}

.profielicon{
	background: url('../../img/profielicon.png') center left;
	background-repeat: no-repeat;
	padding-left: 35px;
	color: white;
	margin-bottom:20px;
}

.galerijicon{
	background: url('../../img/galerijicon.png') center left;
	background-repeat: no-repeat;
	padding-left: 35px;
	color: white;
	margin-bottom:20px;
}

.goochelcont{
	width:200px;
	margin:0 auto;
	margin-top:50px;
}

.fotomask{
	width:100px;
	height:100px;
	@include border-radius(60px, 60px);
	overflow:auto;
	margin:0 auto;
}

.fotogalerijmask{
	width:200px;
	height:200px;
	overflow:auto;
	margin-left:80px;
	float:left;
	margin-top:20px;
	border: 1px solid #E1AD59;
}

.winnaarback{
	background: url('../../img/winnaarback.jpg');
	width:640px;
	height:1136px;

	h1{
		font-family:lobster;
		color:white;
		padding-top:50px;
		font-size:2em;
	}
}

.img{
	width:150px;
	height:150px;
	overflow:hidden;
}

.imggalerij{
	width:200px;
	height:200px;
	overflow:hidden;
}

.naamwinnaar{
	color:white;
	font-family:Droid serif;
	font-style:italic;
	font-size:1.5em;
	padding-top:20px;
}

.totaalscore{
	font-family:lobster;
	color:#E1AD59;
	padding-top:50px;
	font-size:4em;
}

.totaalscoreklein{
	font-family:lobster;
	color:white;
	padding-top:50px;
	font-size:1.8em;
	margin-top:-20px;
	margin-left:35px;
}

.grotewinnaar{
	margin-top:150px;
}

.fotomaskgroot{
	width:150px;
	height:150px;
	@include border-radius(80px, 80px);
	overflow:auto;
	margin:0 auto;
}

.fotomaskklein{
	width:100px;
	height:100px;
	@include border-radius(80px, 80px);
	overflow:auto;
	margin-right:50px;
}

.floatwinnaars{
	float:left;
	margin-left:60px;
	margin-top:190px;
}

.imggroot{
	width:200px;
	height:200px;
	overflow:hidden;
}

.menulink{
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
	margin-bottom:10px;
	line-height:60px;
	color:white;
	text-decoration:none;
}

.overzichticon{
	background: url('../../img/kalendericon.png') left center no-repeat;
}

.infoicon{
	background: url('../../img/infoicon.png') left center no-repeat;
}

.folded{
	margin-left:-280px;
}

.menubtn{
	width:56px;
	height:56px;
	background: url('../../img/menuicon.png') no-repeat;
	position: absolute;
	margin-top:40px;
	margin-left:40px;
}

.menuclose{
	width:56px;
	height:56px;
	background: url('../../img/menuicon.png') no-repeat;
	position: absolute;
	margin-top:40px;
	margin-left:40px;
}

.maandag{
	width:300px;
	height:414px;
	background: url('../../img/maandagback.png');
	position: absolute;
}

.dinsdag{
	width:300px;
	height:414px;
	background: url('../../img/dinsdagback.png');
	position: absolute;
}

.woensdag{
	width:300px;
	height:414px;
	background: url('../../img/woensdagback.png');
	position: absolute;
}

.donderdag{
	width:300px;
	height:414px;
	background: url('../../img/donderdagback.png');
	position: absolute;
}

// .infowelkom{
// 	font-family: bookman oldstyle;
// 	font-weight: 700;
// 	color:white;
// 	text-align:center;
// 	width:400px;
// 	margin: 0 auto;
// 	padding-top:600px;
// 	font-size:1.5em;
// }

.scorekaart {
	width:393px;
	height:543px;
	margin: 0 auto;
	margin-top:50px;

	p{
		color:#E1AD59;
		font-family:lobster;
		font-size:5em;
		text-align:center;
		padding-top:250px;
	}

	.top{
		color:#2F3C4D;
		font-family:lobster;
		font-size:2em;
		margin-top:-280px;
		margin-left:350px;
		position: absolute;

	}

	.bottom{
		color:#2F3C4D;
		font-family:lobster;
		font-size:2em;
		position: absolute;
		margin-top:200px;
		margin-left:18px;
		@include transform(rotate(-180deg) );
	}
}

.schoppen{
	background:url('../../img/scorekaart.jpg') no-repeat;
}

.ruiten{
	background:url('../../img/kaartruiten.jpg') no-repeat;
}

.klaveren{
	background:url('../../img/kaartklaveren.jpg') no-repeat;
}

.scoredown{
	background:url('../../img/scoredown.png') no-repeat;
	width:75px;
	height:75px;
	position:absolute;
	margin-top:-300px;
	margin-left:20px;
}

.scoreup{
	background:url('../../img/scoreup.png') no-repeat;
	width:75px;
	height:75px;
	position:absolute;
	margin-top:-300px;
	margin-left:540px;
}

.inschrijven{
	color:white;
}

.hidden{
	display:none;
}