@import 'base';


html {
	font-size: 62.5%;
}

body{

	color: #000000;
	background-color: #e3e3e3;
	font-family: helvetica, arial, sans-serif;
	font-size:1.6em;
	line-height:1.9em;

}

.welcomescreen{
	background: url('../../img/welkom.jpg');
	width:640px;
	height:1046px;
}

.goochelaars{
	background: url('../../img/overviewback.jpg');
	width:640px;
	height:1046px;
}

.goochelaar{
	width:300px;
	height:414px;
	background: rgba(44,47,55,0.5);
	float:left;
	margin-right:10px;
}

.maandag{
	width:300px;
	height:414px;
	background: url('../../img/maandagback.png');
	position: absolute;
}

.dinsdag{
	width:300px;
	height:414px;
	background: url('../../img/dinsdagback.png');
	position: absolute;
}

.woensdag{
	width:300px;
	height:414px;
	background: url('../../img/woensdagback.png');
	position: absolute;
}

.donderdag{
	width:300px;
	height:414px;
	background: url('../../img/donderdagback.png');
	position: absolute;
}

.infowelkom{
	font-family: bookman oldstyle;
	font-weight: 700;
	color:white;
	text-align:center;
	width:400px;
	margin: 0 auto;
	padding-top:600px;
	font-size:1.5em;
}

.inschrijven{
	color:white;
}

.hidden{
	display:none;
}